@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Roboto&display=swap');

/* 
/* HOME PAGE */
body {
  background-color: rgb(237, 231, 223);
  margin-bottom: 10rem;
}

h1 {
  font-family: 'Abril Fatface', 'cursive';
  text-align: center;
  font-size: 80px;
}

label {
  font-family: 'Abril Fatface', 'cursive';
  text-align: center;
  font-size: 30px;
  margin-right: 15px;
}

.slider-number {
  font-family: 'Abril Fatface', 'cursive';
  text-align: center;
  font-size: 30px;
  margin-right: 15px;
  margin-left: 20px;
}

.loading {
  font-family: 'Abril Fatface', 'cursive';
  text-align: center;
  font-size: 40px;
}

.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownContainer {
  display: flex;
  margin: 30px;
}

button {
  font-family: 'Abril Fatface', 'cursive';
  font-size: 55px;
  justify-content: center;

  display: flex;
  align-items: center;
  padding: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 10rem;
  width: 50rem;

  background-color: rgb(237, 231, 223);
  border-radius: 1rem;
  border-style: solid; /*removes shadow */
  border-color: black;
  box-shadow: none;
}

.read-text-button,
.back-button {
  font-family: 'Abril Fatface', 'cursive';
  font-size: 30px;
  justify-content: center;

  display: flex;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  width: 25rem;

  background-color: rgb(237, 231, 223);
  border-radius: 1rem;
  border-style: solid; /*removes shadow */
  border-color: black;
  box-shadow: none;
}

.dropdownCountry {
  font-family: 'Abril Fatface', 'cursive';
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* height: 5.5rem; */
  width: 15rem;

  text-align: center;
  background-color: rgb(237, 231, 223);
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow: none;

  padding: 5px;
  margin-left: 9px;
}

.dropdownCategory {
  font-family: 'Abril Fatface', 'cursive';
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* height: 5.5rem; */
  width: 15rem;

  text-align: center;
  background-color: rgb(237, 231, 223);
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow: none;

  padding: 5px;
}

.limitSlider {
  font-family: 'Abril Fatface', 'cursive';
  font-size: 30px;
}

input[type='range'] {
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  width: 30%;
  align-items: center;
  justify-content: center;
  appearance: none;
}

/* .center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

/* .global{
  display: flex;
  flex-direction: row;
} */

/* ARTICLES */

.articleImage {
  height: 100px;
  border-radius: 15px;
}

.article {
  background-color: rgb(237, 231, 223);
  font-size: 45px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  margin: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  width: 70rem;
  justify-items: center;
  /* display: flex; */
}

p {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  /*link*/
  text-decoration: none;
  color: black;
}

.loading-icon {
  height: 70px;
  animation: spin 4s infinite;
  display: flex;
  flex-direction: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: 100px;
  border-top: 1px rgb(159, 159, 159) solid;
  font-size: 15px;
  padding-top: 50px;
}

ul {
  list-style-type: none;
}
